.browse-index {
	height: 100%;
	> div {
		display: inline-block;
		padding: 5px;
	}
	.top-panel {
		height: 20px;
		padding-top: 0;
		border-bottom: 1px solid #ccc;
	}
	.left-panel {
		width: 200px;
		height: 100px;
		border-right: 1px solid #ccc;
		overflow-y: auto;
	}
	.right-panel {
		width: 80%;
		height: 100px;
		.products {
			> ul {
				li {
					list-style: none;
					clear: both;
					.product {
						display: inline-block;
						border-bottom: 1px solid #ccc;
						padding: 10px;
						> div {
							float: left;
							width: 100px;
						}
						.title {
							width: 300px;
						}
						.price {
							width: 80px;
						}
					}
				}
			}
		}
	}
}
.categories ul,
.properties ul,
ul.property_values {
	padding-left: 20px;
	li {
		list-style: none;
	}
}
body, html, #app{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
