<!DOCTYPE html>
<html>
<head>
  <title>BackboneExample</title>
  <%= stylesheet_link_tag    "browse", :media => "all" %>
  <%= javascript_include_tag "browse" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
